:root{
  --tile-size: 8;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

#game{
  display: flex;
  justify-content: center;
  align-items: center;
}

#info{
  margin-left: 90px;
}

#mines{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

#timer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#board{
  height: 80vh;
  width: 80vh;
  display: grid;
  grid-template-rows: repeat(var(--tile-size), 1fr);
  grid-template-columns: repeat(var(--tile-size), 1fr);
  justify-content: center;
}

.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 0.5px solid black;
}

.tile-mine{
  background-color: rgb(242, 117, 117);
}

.tile-hidden{
  background-color: rgb(203, 201, 201);
}

.tile-hidden:hover{
  cursor: pointer;
  background-color: rgb(224, 223, 223);
}

.tile-flag{
  background-color: rgb(242, 202, 117);
}

.tile-flag:hover{
  cursor: pointer;
  background-color: rgb(243, 186, 63);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
